[submodule "ios"]
	path = ios
	url = https://github.com/day-23/haru-ios.git
[submodule "server"]
	path = server
	url = https://github.com/day-23/haru-server.git
[submodule "android"]
	path = android
	url = https://github.com/day-23/haru-android.git
[submodule "android/haru"]
	path = android/haru
	url = https://github.com/day-23/haru.git
